# Dependencies
node_modules
.pnpm-store

# Build and distribution outputs
dist
out
release
*.app
*.exe
*.dmg
*.pkg
*.deb
*.rpm

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment and secret files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache and temporary files
.eslintcache
.vite
.tmp
*.tmp

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
